/* Disable all the data tracking options in "Privacy & Safety" before using the theme. */
/* most of the theme was made by Nyria#3863. */

/* IF SOMETHING GOES WRONG PLEASE MAKE AN ISSUE HERE: https://github.com/ImSwordKing/DiscordModifiCSSations/issues */

/* flower icon next to server name */
.flowerStar-2tNFCR,
.flowerStarContainer-1QeD-L,

/* question mark when trying to change tag in user settings */
.questionMark-3V9mGJ,

/* remove stuff in server settings related to nitro */
.emptyState-Ud44C9 .colorHeaderSecondary-g5teka, 
.emptyState-Ud44C9 .stickersRow-3OJE_7,
.container-1eD8xH,
.emptyState-Ud44C9 .colorHeaderSecondary-g5teka, 
.emptyState-Ud44C9 .stickersRow-3OJE_7,
.shinyButton-2Q9MDB, 
.premiumPromoDescription-1kf0Oa,
.divider--oiTeJ+div+div+div,
.children-1xdcWE .upsellContainer-22N_CL,
.emptyTierWrapper-V5c-R7 .button-f2h6uQ,

/* removes server banners */
.animatedContainer-2laTjx, 
.content-2a4AW9 [style="height: 84px;"], 
.bannerImage-ubW8K-, 
.animatedBannerHoverLayer-129r1v,

/* removes gift button */
.buttons-uaqb-5 > .button-f2h6uQ:not(.BD-TeX-plugin-button) > :not(.quickToggleButton-P2xDh8)
{
    display: none;
}

/* Removes nitro promotion when you press on disabled emojis */
.premiumPromo-1eKAIB .premiumPromoTitle-3tWrPT{
    font-size: 0;
}
.premiumPromo-1eKAIB .premiumPromoTitle-3tWrPT:before{
    content:"Hello, This isn't available for free. sorry :(";
    font-size: 20px;
    text-align: center;
    display:block;
}


/* Removes nitro promotion on custom stickers */
.emptyState-Ud44C9 .header-24Iqpn {
    font-size: 0px;
}
.emptyState-Ud44C9 .header-24Iqpn:before {
    content:"Hello, This isn't available for free. sorry :(";
    font-size: 24px;
    text-align: center;
    display:block;
}

.upsellDescription-2QpuiS {
    font-size: 0px;
    display:none;
}

/* Hide nitro icon on banners */
.bannerPremium-2hSAwz .premiumIconWrapper-1A-UH5 {
  display: none;
}

.privateChannels-oVe7HL [href="/store"] + svg,
.item-3XjbnG [class*="Promo"],
.premiumLabel-3HPvdB svg,
.premiumLabel-3HPvdB .badgeIconSettingsMenu-39c26C {
    display: none;
}

.premiumLabel-3HPvdB {
    color: var(--color-muted);
}

/* remove the nitro button from guild list */
.fixedBottomList-1yrBla > .listItem-3SmSlK {
    display: none;
}

/* removes the trial for discord nitro */

.premiumTrialBadge-pEqntF {
    display: none;
}

/* removes server boost from server menu */

.colorDefault-CDqZdO.colorPremium-vwmYZQ.labelContainer-2vJzYL.item-1OdjEX,
.boostingMenuItemHighlight-udjSBx {display: none}

/* removes the promo stuff for discord nitro */

.privateChannels-oVe7HL [href="/store"] + svg,
.item-3XjbnG [class*="Promo"],
.premiumLabel-3HPvdB svg,
.premiumLabel-3HPvdB .badgeIconSettingsMenu-39c26C {
    display: none;
}

.premiumLabel-3HPvdB {
    color: var(--color-muted);
}

/* remove misc nitro advertisements from the UI */

#account-style-your-profile,
.container-2giAcK,
.paymentModalContent,
.premiumIcon-3ZB6PS,
.premiumIconWrapper-32h0Ri,
.upsellOverlay-3sCO8V,
.upsellOverlayContainer-3NMgTS,
.gifIconContainer-3os21a,
.gif-38WdXH,
.bannerNitroUpsell-2iP18z {
    display: none;
}

/* remove nitro settings */

.premiumTab-39eQzY,
.header-2Kx1US:nth-of-type(9),
.background-Gjdjzm,
.themed-2.premiumTab-39eQzY,
.themed-2-lozF.item-3XjbnG.premiumTab-39eQzY,
.card-16VQ8C.codeRedemptionRedirect-2hYMSQ,
.emptyStateSubtext-29V2rK {
    display: none;
}

/* Mostly Profile Customizazion Ads */

.improvedUpsellSection-camPo1,
.improvedUpsellContainer-GX81ui { display: none}

.profileThemeSectionPremiumBorder-pH_ioT.customizationSection-IGy2fS {display: none}

/* Animated Banner advertisement */
.upsellVisible-2_CoRC,
.upsellHidden-2_CoRC,
.upsell-27kXsw {
    display: none;
}

/* Nitro popup in banners */

.premiumIconWrapper-yyGDql,
.premiumIcon-3WfDzD {
    display: none;
}

/* Remove the higher resolution streams nitro banner */

.upsellBanner-1tVKtW {
    display: none;
}

/* I don't know how the server boost button reappears so i will try removing all the nitro ads on it as possible. i can't seem to get it removed reliably. */

.button-f2h6uQ[aria-label="Level 1"], /* Removes Level 1 Button (Also the text as it's connected to the button)*/
.button-f2h6uQ[aria-label="Level 2"],
.button-f2h6uQ[aria-label="Level 3"],
.subscribeAction-1tjck2,
.tierMarkerLabelPlusIcon-2zLkr7 {display: none}

/* Removing stuff from the settings context menu */

.side-2ur1Qk[aria-label="User Settings"] > div:nth-child(n+9):nth-child(-n+13), /* Removes Nitro, Subscriptions, Nitro Boost pages */
.side-2ur1Qk[aria-label="User Settings"] > div:nth-child(n+47):nth-child(-n+47), /* Removes Payment Flow from experiments */
[id="user-settings-cog-Discord_Nitro"],
[id="user-settings-cog-Nitro_Server_Boost"],
[id="user-settings-cog-Subscriptions"],
[id="user-settings-cog-Payment_Flow_Modals"] {display: none}

/* Removing Nitro ads from activities */
.tierCtaContainer-f-B1mz,
.perksHeader-jkHU3s,
.upsellIcon-14jcSk,
.perks-2tKutx {display: none}

/* Removing some parts of ads in already removed pages to future proof this theme in case something changes.*/

.guildSubscriptionHeading-3Gp8lO.wrapper-2-Da9H,
.guildsBlurb-1ouzU-.text-md-normal-304U3g.defaultColor-24IHKz{
    display: none
}

/* Removing some new ads that appeared recently thru A/B testing. */

.tier0Container-3pQqp9,
.upsellOverlayContainer-3NMgTS,
.upsellContainer-TwfTaF,
.disabled-1gJPpT,
.premiumFeatureBorder-3vL7bn, 
.tryItOutSection-W9qe {display: none}

/* Making it less rely on remove chat buttons */

.button-f2h6uQ[aria-label="Send a gift"]{
  display: none;
}

.buttons-uaqb-5 > .button-f2h6uQ > :not(.translateButton-DhP9x8) {
display: none;
}

.channel-1Shao0 [href="/store"] {
    display: none;
}


/* ---> fuck you discord <--- */